*{
font-family:sans-serif;
}

body{
color:maroon;

}

#namebanner{
text-align:center;
background-color:Maroon;
color:gold;
padding-top:5px;
}

h2{
Margin-top:100px;
}

p>a:visited{color:gold;}
p>a:link{color:gold;}
p>a:hover{color:black}

a:visited{color:maroon;}
a:link{color:maroon;}
a:hover{color:black}

.lihead{
font-weight: bold;
}

img {
    float: left;
	padding-right:10px;

}

#text_line {
    clear: both;
    margin-bottom: 5px;
}

.why{
margin-left:25px;
}

