*{
font-family:sans-serif;
}

body{
color:maroon;

}

#namebanner{
text-align:center;
background-color:Maroon;
color:gold;
padding-top:5px;
}

h2{
Margin-top:100px;
margin-left:500px;/*I do not fully understand margin and padding, I would ideally like the last line of my "goal" paragraph to sit flush with the bottom of the image*/
}

p>a:visited{color:gold;}
p>a:link{color:gold;}
p>a:hover{color:black}

a:visited{color:maroon;}
a:link{color:maroon;}
a:hover{color:black}

.lihead{
font-weight: bold;
}

img {
    float: left;
	padding:1px;
   	border:1px solid #021a40;

}

#text_line {
    clear: both;
    padding-top: 5px;
}

.why{
margin-left:25px;
}

/* Flaired edges, by Tomas Theunissen, I got this from https://css-tricks.com/examples/hrs/ */

hr {
    padding: 0;
    border: none;
    border-top: medium double gold;
    color: gold;
    text-align: center;
}
hr:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    /*padding: 0 0.25em;*/
    background: white;
}

